# # Dependencies
# node_modules/
# backend/node_modules/
# frontend/node_modules/

# # Environment variables
# .env
# backend/.env
# frontend/.env

# # Build folders
# dist/
# build/
# frontend/dist/

# # Logs
# logs
# *.log
# npm-debug.log*

# # OS files
# .DS_Store
# Thumbs.db

# # Uploads
# uploads/

# # VS Code
# .vscode/



node_modules/
backend/node_modules/
frontend/node_modules/

.env
backend/.env
frontend/.env

dist/
build/

uploads/

.DS_Store
Thumbs.db
.vscode/