body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
}

.auth-wrapper {
  display: flex;
  min-height: 100vh;
}

/* LEFT PANEL */
.auth-left {
  width: 50%;
  padding: 60px;
  color: white;
  background: linear-gradient(135deg, #0f766e, #0a3d62);
}

.auth-left h1 {
  font-size: 34px;
  margin-bottom: 15px;
}

.tagline {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 30px;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  margin-bottom: 15px;
  font-size: 15px;
}

.stats {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.stats h3 {
  font-size: 24px;
  margin: 0;
}

/* RIGHT PANEL */
.auth-right {
  width: 50%;
  background: white;
  padding: 60px;
}

h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
}

.tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.tabs a,
.tabs span {
  text-decoration: none;
  color: black;
  padding-bottom: 8px;
}

.tabs .active {
  border-bottom: 2px solid black;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.radio-group {
  display: flex;
  gap: 30px; /* space between options */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  width: auto;
  margin: 0;
}

.btn-dark {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  background: #111827;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.switch-text {
  margin-top: 20px;
  text-align: center;
}

input[name="governmentId"] {
  border: 1px solid #d1d5db;
  transition: 0.3s ease;
}

input[name="governmentId"]:focus {
  border-color: #111827;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

/* ===== Forgot Password Link ===== */
.forgot-link {
  text-align: right;
  margin-top: 10px;
  font-size: 14px;
}

.forgot-link a {
  color: #0f172a;
  text-decoration: none;
  font-weight: 500;
}

.forgot-link a:hover {
  text-decoration: underline;
}